body {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 1rem;
}
.contenair {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 95%;
    row-gap: 10rem;
    column-gap: 5rem;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10rem 0;
}
.article {
    font-size: 1.2rem;
    padding: 1rem;
}
.text_article {
    font-size: 2rem;
    color: #333333;
    display: flex;
    flex-direction: column;
    text-align: left;
}
button[type="submit"] {
    background: #333333;
    color: azure;
    border-radius: 25px;
    padding: 1rem 1rem;
}
button[type="submit"]:hover {
    background-color: rgb(28, 113, 209);
    padding: 1rem 1rem;
    cursor: pointer;
    transform: scale(1.5rem);
    color: rgb(233, 232, 215);
    text-decoration:underline;
}
.pastille {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 5rem 0 5rem 0;
}
.circle_blue {
    border: 0.5px solid #333333;
    width: 5rem;
    height: 5rem;
    background: rgb(125, 161, 228);
    border-radius: 50%;
}
.circle_orange {
    border: 0.5px solid #333333;
    width: 5rem;
    height: 5rem;
    background: rgb(255, 150, 109);
    border-radius: 50%;
}
.circle_rose {
    border: 0.5px solid #333333;
    width: 5rem;
    height: 5rem;
    background: rgb(214, 193, 224);
    border-radius: 50%;
}
.text {
    border: 1px solid #333333;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    gap: 1rem;
    padding: 0 0.3rem 0.5rem 1.5rem;
    text-align: left;
}
.aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 3rem 1rem 1rem 3rem;
    column-gap: 5rem;
}
.aside_left {
    
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    margin-top: 1rem;
    gap: 5rem;
    width: 100%;
    height: 100%;
}
.aside_right {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    margin-top: 8rem;
    gap: 5rem;
    width: 100%;
    height: 100%;
}
img {
    border: 0.5px solid #333333;
    border-radius: 25px;
}
@media all and (min-width:320px) and (max-width:1024px) {
    .contenair {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .aside {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        margin: auto;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 90%;
        margin: auto;
    }
}